
<div class="row justify-content-md-center">
  <div class="card col-md-8">
      <form class ="edit-blog-form">
        <div class="form-group">
          <label for="title-blog">Edit Post</label>
          <input type="text" class="form-control" id="title-blog" aria-describedby="emailHelp" value="{{blog.title}}">
          
        </div>
        <div class="form-group">
          <label for="description-blog">Edit Post description</label>
          <input type="text" class="form-control" id="description-blog" value="{{blog.description}}">
        </div>
        <button type="submit" class="btn btn-primary" id="blog-submit">Update Post</button>
        <button type="button" class="btn btn-primary" id="delete-blog">Delete Post</button>
      </form>
  </div>
</div>

<script src="../js/editBlog.js"></script>